body {
    margin: 0;
    background: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

.container
{
    width: 90%;
    margin: 0 auto;
}

header
{
    background-image: url("repos/Capture.JPG");
}

.logo
{
    float: left;
    padding: 5px 0;
    width: 70px;
    height: 70px;
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

nav
{
    float: right;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
}

nav li
{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav a
{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover
{
    color: white;
}

nav a::before
{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before
{
    width: 100%;
}

footer 
{
    display: block;
    background-image: url("repos/Capture.JPG");
    color: white;
    height: 320px;
}

#foot_left 
{
    padding-left: 30px;
    color: white;
}

#foot_right
{
    color: white;
}

.content 
{
    min-height: calc(100vh - 70px);
}

#parent_div_1, #parent_div_2 {
    width: 200px;
    height: 100px;
    float: left;
    color: white;
}

.child_div_1 {
    float: left;
    margin-right: 5px;
}

footer ul 
{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Side-by-side divs for the login/logout buttons
#parent_div_3, #parent_div_4 {
    width: 220px;
    height: 200px;
    float: left;
    color: white;
}*/


.Title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 100px;
    text-align: center;
}

.form_prompt 
{
    text-align:left;
    width: 40%;
    font-size: 25px;
}

th, td {
    width: 100%;
    text-align: left;
    padding: 50px
}

#Submit_button
{
    top: -150px;
    left: 50px;
    width: 48.5%;
}

.hidden 
{
    display: none;
}

label {
    display: inline-block;
    width: 140px;
    text-align: right;
}

.form_input {
    width: 50%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

.Add_main {
    background-color: #FFFFFF;
    width: 600px;
    height: 700px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#Expenses {
    margin: 50px;
    padding-top: 50px;
    color: red;
    font-size: 80px;
}


table.test td {
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
    width: 300px;
    font-size: 20px;
}

table.test {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
}

#parent_div_3_expenses, #parent_div_4_expenses {
    height: 100px;
    float: left;
    color: black;
}

.si_submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: #000;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 27%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    align-content: center;
}

/* Sample Trip table */
table.sample td {
    margin: 12px 12px 12px 12px;
    padding: 12px 12px 12px 12px;
    width: 300px;
    font-size: 20px;
}

table.sample {
    border-collapse: separate;
    border-spacing: 10px;
    *border-collapse: expression('separate', cellSpacing = '10px');
    margin-left: 550px;
    margin-top: 80px;
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

/* For image on Expenses page */
.center_hotel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}