

	.column {
		float: left;
		text-align: center;
		

	}
	.column.left {
		width: 33.33%
	}
	.column.right {
		width: 66.66%
	}

		/* Clear floats after the columns */
	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
	@media screen and (max-width:600px) {
		.column.left {
			width: 100%;
		}
		.column.right {
			width: 100%;
		}
	}
	a.hotels {
		color: black;
		text-align: center;
		text-decoration: none;
	
		
	}
	ul {
		list-style-type: none;
		
	}
	li.hotels {
		margin: 30px;
		background-color: #87CEFA;
		padding: 10px;
		max-width: 200px;
		margin: auto;
		margin-bottom: 5px;
	}
	.grid-container {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: 300px 300px;
		grid-gap: 0;
		background-color: white;
		padding: 10px;
	}

	.grid-container > div {
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		color: white;
		padding: 90px 0px;
		font-size: 30px;
		f
	}
	

	.cities:hover {
	
		opacity: 0.6;
	}

	.overlay {
		opacity: 0;
		color: black;
		font-weight: bold;
	}

	.cities:hover .overlay {
	
		opacity: 1;
	}
